<div class="card border-success mb-3 mx-4" style="width: 24rem;">
<img class="card-img-left" src="https://s03.s3c.es/imag/_v0/770x421/6/6/7/490x_logo-everis.png"
alt="Card image cap">

<h1 class="card-header" style="color: YellowGreen"> ¿Quiénes somos?</h1>
<div class="card-body">
<p class="card-text"> Somos una consultora multinacional, la cual 
    ayuda a crear sinergia entre nuestros clientes de 
    diferentes empresas. 
    Cuidamos cada detalle y ponemos en contacto a aquellas personas
    que están interesadas en conocer y darse a conocer a otras empresas. 
</p>
</div>
</div>