
  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes Buscador</title>
  </head>

  <body>
    <!-- Cabecera -->
    <div class="container">
      <h1 style="color: #303F9F;">
        <i class="pi pi-user" style="font-size: 2rem"></i>
       Buscar Cliente</h1>
      <hr class="my-4">
      </div>
    <div class="container">

      <!-- Bucador -->
     <div>
       <form (ngSubmit)="busqueda()" >
         <input required name="query" [(ngModel)]="query"
         placeholder="Introduzca nombre del cliente" class="form-control col-4"/>
         <button type="submit" class="btn btn-primary my-2">Buscar</button>
       </form>
       <br>
       <!-- Render tarjetas / Resultados -->
       <div class="container" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
       <div *ngIf="!loading">
       <div *ngIf="!error">
       <div class="row">
         <div *ngFor="let customer of resultados" class="card " style="width: 20rem;">
           <div class="card-body" >
           <p><b>Nombre:</b> {{ customer.contactName}}</p>
           <p><b>Compañía:</b> {{ customer.companyName }}</p>


           <p [hidden]="!hiddenViewClientButton"><b>Calle:</b> {{customer.address?.street}}</p>
                <p [hidden]="!hiddenViewClientButton"><b>Teléfono:</b> {{customer.address?.phone}}</p>
           <a [hidden]="!hiddenViewClientButton" [routerLink]="['/']"><button style="color: whitesmoke; background-color:rgb(70, 70, 134);" pButton pRipple type="button" label="Volver" class="p-button-raised"></button></a>
          <a [hidden]="hiddenViewClientButton" [routerLink]="['/customers/'+ customer.id]"><button style="cursor: help; color: whitesmoke; background-color:rgb(70, 70, 134);" pButton pRipple type="button" label="Ver Cliente" class="p-button-raised"></button></a>
                <br><br>
          <a [hidden]="!hiddenViewClientButton" [routerLink]="['/editCliente/', customer.id]"><button style="color: whitesmoke; background-color: rgb(70, 70, 134);" pButton pRipple type="button" label="Editar Cliente" class="p-button-raised"></button></a>

         </div>
         </div>
       </div>
      </div>
       <div class="row" *ngIf="error">
        <p-message severity="error" text="No existe dicho cliente, por favor busque de nuevo"></p-message>
       </div>
     </div>
   </div>
  </div>
  </body>
  </html>



