
     <!-- Cabecera -->
     <div class="container" *ngIf="hiddenViewClientButton" >
      <h1 style="color: #303F9F;">
        <i class="pi pi-user" style="font-size: 2rem"></i>
       Cliente {{cliente.contactName}}</h1>
      <hr class="my-4">
      </div>

  <div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="container" *ngIf="!loading" >
     <div class="container mx-2" >
       <div class="row ">
            <div class="card mx-1" style="width: 22em; height: 18em;">
             <div class="card-body mx-1" style="width: 20em; height: 16em; align-items: center;">
                <p><b>Cliente:</b> {{cliente.contactName}}</p>
                <p> <b>Compañía:</b> {{cliente.companyName}}</p>
                <p *ngIf="hiddenViewClientButton"  ><b>Ciudad:</b> {{cliente.address?.city}}</p>
                <p *ngIf="hiddenViewClientButton"  ><b>Calle:</b> {{cliente.address?.street}}</p>
                <p *ngIf="hiddenViewClientButton"  ><b>Teléfono:</b> {{cliente.address?.phone}}</p>
                <a *ngIf="hiddenViewClientButton" [routerLink]="['/']"><button style="color: whitesmoke; background-color:rgb(70, 70, 134);position: absolute;top: 10%; right: 5%;" pButton pRipple type="button" label=" " class="p-button-raised">

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
                </button></a>
                <a *ngIf="!hiddenViewClientButton" [routerLink]="['/customers/'+ cliente.id]"><button style="cursor: help; color: whitesmoke; background-color:rgb(70, 70, 134);" pButton pRipple type="button" label="Ver Cliente" class="p-button-raised"></button></a>

                <a [hidden]="!hiddenViewClientButton" [routerLink]="['/']"><button mat-fab color="primary" style= "background:rgb(194, 48, 48); left: 40%; " aria-label="Example icon button with a delete icon" (click)="deleteCustomer(cliente.id)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"  class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
              </button></a>

                <br><br>
                <a [hidden]="hiddenViewClientButton" [routerLink]="['editCliente', cliente.id]"><button style="color: whitesmoke; background-color: rgb(70, 70, 134);" pButton pRipple type="button" label="Editar Cliente" class="p-button-raised"></button></a>

              </div>
            </div>
          </div>
     </div>
     </div>

