
 <!-- Cabecera -->
 <div class="container">
  <h1 style="color: #303F9F;">
    <i class="pi pi-user" style="font-size: 2rem"></i>
   Listado de Clientes</h1>
  <hr class="my-4">

  </div>
    <div class="container" *ngIf="loading">

      <sa-spinner-dotted [size]="50" [thickness]="100" [speed]="100" color="rgba(64, 172, 57, 1)" ></sa-spinner-dotted>

      <br>
      <sa-spinner-infinity [size]="50" [thickness]="100" [speed]="100" color="rgba(64, 172, 57, 1)" secondaryColor="rgba(24, 24, 24, 0.1)" >

      </sa-spinner-infinity>
    </div>

  <div class="container"*ngIf="!loading">
  <div class="row">
  <app-customer class="col-4" *ngFor="let cliente of resultados" [cliente]="cliente" >


  </app-customer>
  </div>
</div>
